@tailwind preflight;
@tailwind components;
@tailwind utilities;

@import '_generic/_global';

@import "_elements/_blockquote";
@import "_elements/_highlight";
@import "_elements/_table";
@import "_elements/_typography";

@import "_components/_category-list";
