---
layout: default
title: Homepage
---
<h1 class="mb-2">
  {{ site.title }}
</h1>

<h5 class="mt-2 mb-5">
  By <a href="https://www.maxwellantonucci.com/" target="_blank" rel="noopener">Max Antonucci</a>
</h5>

<p>
  {{ site.description }}
</p>

<p>
  <strong>NOTE: These are personal references, not definite guides.</strong> So don't get mad if there's stuff some notes don't cover. Many will be frequently updated or unfinished.
</p>

<ul class="list-reset m-0 flex flex-wrap content-center">
  {% for category in site.data.categories %}
    <li class="flex-no-grow m-2 text-xs bg-teal-darker rounded shadow hover:shadow-md">
      <a href="#{{ category.group }}" class="inline-block py-1 px-3 no-underline text-white">
        {{ category.name }}
      </a>
    </li>
  {% endfor %}
</ul>

{% for category in site.data.categories %}
  <h3 id="{{ category.group }}">
    <a href="#{{ category.group }}">
      {{ category.name }}
    </a>
  </h3>

  <p>
    {{ category.descr }}
  </p>

  <ul class="list-reset flex flex-col category-list__wrapper">
    {% for page in site.pages %}
      {% if page.group == category.group %}
        <a href="{{ page.url }}" class="no-underline flex flex-col {% if page.incomplete %}category-list__item--incomplete border-orange border-2 text-orange-darker{% else %}text-black{% endif %}">
          <li class="category-list__item p-4 mb-4 shadow-md bg-grey-lightest hover:shadow-lg flex-1">
            {% if page.incomplete %}
              <tiny class="inline-block px-2 mt-0 mb-3 text-orange-lighter rounded bg-orange-darker">
                Incomplete
              </tiny>
            {% endif %}

            <h5 class="mt-0 {% if page.incomplete %}text-orange-darker{% else %}text-grey-darker{% endif %} underline">
              {{ page.title }}
            </h5>

            <p class="mb-0">
              {{ page.descr }}
            </p>
          </li>
        </a>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}
