html {
  @apply .text-grey-darkest .bg-white;

  font-size: 90%;

  @media (min-width: 31.25rem) { font-size: 95%; }
  @media (min-width: 50rem) { font-size: 100%; }
  @media (min-width: 75rem) { font-size: 110%; }
}

body {
  @apply .p-4;
  @screen md { @apply .p-6; }

  max-width: 100%;
  overflow-x: hidden;
}
