---
layout: default
---

<div class="mb-5">
  {% for category in site.data.categories %}
    {% if page.group == category.group %}
      <a href="/#{{ category.group }}" class="leading-normal">
        < Back to {{ category.name }} notes
      </a>
    {% endif %}
  {% endfor %}
</div>

<div class="border-grey-darker border-b-2">
  {% if page.incomplete %}
    <span class="inline-block py-1 px-3 mt-3 text-xs text-white bg-orange-darker rounded shadow">
      Incomplete
    </span>
  {% endif %}

  <h1 {% if page.incomplete %}class="mt-2"{% endif %}>
    {{ page.title }}
  </h1>

  <h6 class="mt-5 mb-6">
    {{ page.descr }}
  </h6>

  {% if page.resources %}
    <p class="mb-2">
      <strong>
        Resources:
      </strong>
    </p>

    <ul>
      {% for resource in page.resources %}
        <li>
          <a href="{{ resource.link }}" rel="noopener" target="_blank">
            "{{ resource.title }}", by {{ resource.author }} ({{ resource.publisher }})
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<hr class="mb-10">

{{ content }}
